<template name = "deckList">
	<div class = "icons">
	  <img src="/icons/add-128.png" alt="Add" width="30" id ="addCollection">
  	  <img src="/icons/note-128.png" alt="Edit" width="30" id = "edit">
	  <img src="/icons/delete-128.png" alt="Delete" width="30" id = "deleteWord">
	</div>
	<div class="post deck">
		{{ #each decks }}
			<div class = "post deck title">{{ title }}
<!--			{{#if stateExists}}
				{{progressBar}}
				<button type = "submit" class = "btn btn-default" id ="resumeTest">Resume test</button>
				<button type = "submit" class = "btn btn-default" id ="reset"> Reset </button>
			{{else}}-->
				<form id = "beginTest">
					<button type = "submit" class = "btn btn-default" id ="beginTest-button">Begin test</button>
				</form>
			</div>
<!--			{{/if}}-->
			
		{{/each}}
	</div>

	<div class = "post col-sm-4">
		{{#each words}}
			<span class = "label label-default" draggable="true" id="label_{{word}}">{{word}}</span>
		{{/each}}
	</div>
	
	{{ > wordSubmitLarge }}
	

</template>

<template name = "wordSubmitLarge">
	<form class="bigtextbox post col-sm-8">
		<input class = "full-width" type="text" name="word" placeholder="Add new word">
	</form>
</template>


<template name="wordPage">
    <div class="post">
    	<div class = "icons">
		  <img src="/icons/add-128.png" alt="Add" width="30" id ="addWord">
  		  <img src="/icons/note-128.png" alt="Edit" width="30" id = "editWord">
		  <img src="/icons/delete-128.png" alt="Delete" width="30" id = "deleteWord">
		</div>
	  {{ #if submittingNewWord }}
	  	{{ > wordSubmit }}
	  {{ /if }}
      {{ > wordItem }}
    </div>
      {{ > contextSubmit }}
</template>


<template name="wordItem">
    <div class="post-content">
      <!--{{#if wordsInFront ..}}
      	<div class = "arrow-right" ></div>
      {{/if}}
      {{#if wordsInBack ..}}
      	<div class = "arrow-left" ></div>
      {{/if}}-->
      
      {{#with wordObj}}
    <h1>{{ word }}</h1>
        {{#each contexts}}
	    
        <br />
        {{ > contextItem }}
        <br />
	    
        {{/each}}
      {{ /with }}
    </div>
</template>

<template name="wordSubmit">
	<form id = "word-submit">
          <input id ="word-submit-text" type="text" name="text" placeholder="Type to add new word" class ="full-width" />
          <input type = "submit" value = "Add word" >
    </form>

    {{ > contextSubmit }}
</template>

<template name = "contextItem">
	{{this}}
</template>

<template name = "contextSubmit">
	<form id = "context-submit">
          <input type="text" name="text" placeholder="Type to add a new context" class ="full-width" />
    </form>
</template>