<template name = "deckList">
<!--
	<div class = "icons">
	 </div>
-->
	<div class="post deck">
		
		<div class="post deck add-deck">
<!--			<button class="btn btn-primary">+</button>
			{{#if addDeckButtonClicked }}-->
			<form id = "deck-submit">
          		<input id ="deck-submit-text" type="text" name="text" placeholder="New deck name" />
          		<input type = "submit" value = "Add deck" >
    		</form>
<!--		{{/if}} -->
		</div>
		{{ #each decks }}
			<div class = "post deck title" draggable="true">{{ title }}
<!--			{{#if stateExists}}
				{{progressBar}}
				<button type = "submit" class = "btn btn-default" id ="resumeTest">Resume test</button>
				<button type = "submit" class = "btn btn-default" id ="reset"> Reset </button>
			{{else}}-->
				<span class = "deck-ops" >
					<button type = "submit" class = "btn btn-default beginTest">Begin test</button>
					<!--<img src="/icons/add-128.png" alt="Add" width="30" id ="addCollection">
	  	  			<img src="/icons/note-128.png" alt="Edit" width="30" id = "edit">-->
		  			<img src="/icons/delete-128.png" alt="Delete" width="30" class= "deleteDeck">
	  			</span>
			</div>
<!--			{{/if}}-->
			
		{{/each}}
	</div>

	<div class = "post col-sm-4">
		<div>Drag a word to its deck! <a id="show-all-words" style="cursor:pointer">All</a></div>
		<div><img src="/icons/delete-128.png" alt="Delete" width="60" class= "drop-to-delete"></div>
		{{#each words}}
			<button class = "label label-default" draggable="true">{{word}}</button>
		{{/each}}

		
	</div>
	
	{{ > wordSubmitLarge }}
	{{ > mainbox }}

</template>

<template name = "mainbox">
	<div class = "post col-sm-8 mainbox">
		{{#with displayObj}}
			{{word}}
		{{/with}}
	</div>
</template>


<template name = "wordSubmitLarge">
	<form class="bigtextbox post col-sm-8">
		<input class = "full-width" type="text" name="word" placeholder="Add new word">
	</form>
</template>


<template name="wordPage">
    <div class="post">
    	<div class = "icons">
		</div>
	  {{ #if submittingNewWord }}
	  	{{ > wordSubmit }}
	  {{ /if }}
      {{ > wordItem }}
    </div>
</template>


<template name="wordItem">
      
      {{#with wordObj}}
    
    <h1>
    	{{#if wordsInFront }}
	  		<div class = "arrow-right" ></div>
      	{{/if}}

      	{{#if wordsInBack }}
      		<div class = "arrow-left" ></div>
      	{{/if}}
    		{{ word }}
    </h1>
<!-- This fetches contexts up to the number of times get contexts has been clicked -->    
	<button class = "label label-default show-examples">More examples</button>

        {{#each examples}}
	    
        	<div class="post post-content large">{{this}} <span class="delete-context">x</span> </div>

        {{/each}}
    
    	{{ > contextSubmit }}

    {{ /with }}
</template>

<template name="wordSubmit">
	<form id = "word-submit">
          <input id ="word-submit-text" type="text" name="text" placeholder="Type to add new word" class ="full-width" />
          <input type = "submit" value = "Add word" >
    </form>
</template>


<template name = "contextSubmit">
	<form id = "context-submit" class = "center">
          <input type="text" name="text" placeholder="Type to add a new context" class ="full-width"/>
    </form>
</template>